* {
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu a {
    background:rgb(17, 20, 74);
    text-align: center;
    
}
.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.item {
    width: 20%;
    margin: 0px;
    padding: 0px;
    font-size: 2em;
}
.item2{
    width:80%;
    padding: 0px;
    font-size: 2em;
    
}
.design p {
    background:rgb(71, 97, 184);
    border: 5px solid rgb(86, 218, 115) ;
    border-radius: 20px;
    margin-left: 0;
    margin-right: 0%;
    margin: auto;
}
body{
    background-image: url(./cv_background___1_by_comidion_d5lsb1h-fullview.jpeg);
    background-repeat: no-repeat;
  background-position: right bottom;
    font-family: 'Ubuntu', sans-serif, 'Times New Roman', Times;}
h1, h2, h3 {
    color: rgba(239, 14, 247, 0.439);
    font-size:34px;
    text-align: center;
}
p::first-letter {
    color:#FF0000;
    font-size: 150%;
    font-style: italic;
}
p {
    color:#dbdb69;
    text-align: center;
}
table {
    color:rgba(16, 71, 31, 0.833);
    font-size:1.5em;
    text-align: center;
    background-color: antiquewhite;
}
#ul {
    text-align: center;
    color:hsl(257, 55%, 31%);
    list-style-type: none;
}
a:link {
    color: #e2df07;
}
  
a:visited {
    color: green;
}
  
a:hover {
    color: #FF00FF;
}
  
a:active {
    color: #0000FF;
}
td:last-child{
    color: goldenrod;
}
img {
    display: block;
  margin-left: auto;
  margin-right: auto;
}